.splache{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
 .splache .logo {
    width: 300px;
    display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  